<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Master</title>
</head>
<body>
<article>
    <h1>Master :{random_number}</h1>
    <section>
        <h2>Задачи</h2>
        <ul>
            <li>
                <p>Урок 1</p>
                <ul>
                    <li><a href="/tasks/1/103/">Задача 1.03</a></li>
                </ul>
            </li>
            <li>
                <p>Урок 3</p>
                <ul>
                    <li><a href="/tasks/3/301/">Задача 3.01</a></li>
                    <li><a href="/tasks/3/302/">Задача 3.02</a></li>
                    <li><a href="/tasks/3/303/">Задача 3.03</a></li>
                    <li><a href="/tasks/3/304/">Задача 3.04</a></li>
                    <li><a href="/tasks/3/305/">Задача 3.05</a></li>
                    <li><a href="/tasks/3/306/">Задача 3.06</a></li>
                    <li><a href="/tasks/3/307/">Задача 3.07</a></li>
                    <li><a href="/tasks/3/309/">Задача 3.09</a></li>
                    <li><a href="/tasks/3/310/">Задача 3.10</a></li>
                    <li><a href="/tasks/3/311/">Задача 3.11</a></li>
                </ul>
            </li>
        </ul>
    </section>
</article>
</body>
</html>
