<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Задание 3.11</title>
</head>
<body>
<article>
    <p><a href="/">&lt;&lt;&lt;</a></p>
    <hr>
    <h1>Задание 3.11</h1>
    <section>
        <h2>Условие</h2>
        <p>Ввести почтовый адрес.</p>
        <p>Проверить доменное имя.</p>
        <p>В случае если оно <i>gmail.com</i>, вывести на экран имя почтового ящика.</p>
        <p>Иначе &mdash; вывести надпись <i>DOMAIN NAME is not supported</i>.</p>
        <form>
            <label for="id_email">Почта:</label>
            <input id="id_email" name="email" placeholder="test@example.com" type="email" value="{email}">
            <button type="submit">Выполнить</button>
        </form>
    </section>
    <section>
        <h2>Результат</h2>
        <p>{result}</p>
    </section>
</article>
</body>
</html>
