<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Задание 3.01</title>
</head>
<body>
<article>
    <p><a href="/">&lt;&lt;&lt;</a></p>
    <hr>
    <h1>Задание 3.01</h1>
    <section>
        <h2>Условие</h2>
        <p>Ввести с клавиатуры имя пользователя.</p>
        <p>Вывести на экран <i>"Hello, [name]!"</i></p>
        <form>
            <label for="id_name">Кто ты?</label>
            <input id="id_name" name="name" placeholder="анон" type="text" value="{input_name}">
            <button type="submit">Выполнить</button>
        </form>
    </section>
    <section>
        <h2>Результат</h2>
        <p>Hello, [{greeting_name}]!</p>
    </section>
</article>
</body>
</html>
