<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Задание 3.03</title>
</head>
<body>
<article>
    <p><a href="/">&lt;&lt;&lt;</a></p>
    <hr>
    <h1>Задание 3.03</h1>
    <section>
        <h2>Условие</h2>
        <p>Ввести предложение состоящее из двух слов.</p>
        <p>
            Поменять местами слова, добавить восклицательный знак в начало и конец,
            вывести итоговое предложение на экран.
        </p>
        <form>
            <label for="id_sentence">Предложение:</label>
            <input id="id_sentence" name="sentence" placeholder="два слова" type="text" value="{sentence}">
            <button type="submit">Выполнить</button>
        </form>
    </section>
    <section>
        <h2>Результат</h2>
        <p>{result}</p>
    </section>
</article>
</body>
</html>
