<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Задание 3.02</title>
</head>
<body>
<article>
    <p><a href="/">&lt;&lt;&lt;</a></p>
    <hr>
    <h1>Задание 3.02</h1>
    <section>
        <h2>Условие</h2>
        <p>Запросить у пользователя два целых числа.</p>
        <p>Вывести строку вида <i>"2 плюс 3 равно 5"</i></p>
        <form>
            <p>
                <label for="id_a">A:</label>
                <input id="id_a" name="a" placeholder="14" type="number" value="{a}">
            </p>
            <p>
                <label for="id_b">B:</label>
                <input id="id_b" name="b" placeholder="88" type="number" value="{b}">
            </p>
            <button type="submit">Выполнить</button>
        </form>
    </section>
    <section>
        <h2>Результат</h2>
        <p>{result}</p>
    </section>
</article>
</body>
</html>
